{%extends 'usuario/usuario_base.html'%}
{% block titulo%} San Antonio {%endblock%}
{% block cardtitle %}Iniciar Sesion{%endblock%}
{%block content%}
<div class="card-body login-card-body" >
    
    <form action="" method="post">
      {% csrf_token %}
      <div class="form-group">
        {{form.usuario.label_tag}}
        <div class="input-group mb-3">
          {{form.usuario}}                    
          <div class="input-group-append">
              <div class="input-group-text">
                  <span class="fas fa-user"></span>
              </div>
          </div>
          {%if form.errors%}
            <div class="invalid-feedback">
              {{form.usuario.errors}}
            </div>
            {%endif%}
        </div>
      </div>
      <div class="form-group">
        {{form.contraseña.label_tag}}
        <div class="input-group mb-3">
          {{form.contraseña}}
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-block btn-outline-primary btn-lg">Ingresar</button>
        
    </form>

    <a href="{% url 'registro'%}" class="text-center">Registrarse</a>
  </div>
{%endblock%}